version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 30
    schedule:
      interval: "daily"
    commit-message:
      prefix: ci
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "nuget"
    directory: "/"
    open-pull-requests-limit: 30
    schedule:
      interval: "daily"
    commit-message:
      prefix: build
    groups:
      nuget:
        patterns:
          - "*"
